extends ../layout

block body
  .content
    h1 Duel-Lingo
    .outputArea
      .duels.leaderboard
        h2 Duels
        table.duels-table
          tr
            th Versus
            th Status
          each duel in duels
            tr
              td= duel.versus
              td= duel.status
    .buttons
      a(href="/duel/new")
        button Start new duel!
