extends ../layout

block body
  .content
      h1 Duel-Lingo
      .inputArea
          form(action="/duel/email" method="POST")
              .usernameInput
                  label Username 1
                  input(type="text" name="user1").duo-mock-input
              .usernameInput
                  label Username 2
                  input(type="text" name="user2").duo-mock-input
              button.duel-button Duel!
              input(type="hidden" name="_csrf" value= _csrf)

