body {
  font-family: Raleway, sans-serif;
}

.content {
  text-align: center;
  margin-top: 20px;
}

.inputArea, .outputArea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.duel-logo {
  height: 100px;
  position: relative;
  top: 20px;
  left: -20px;
}

.about-duel-lingo {
  margin: 80px auto;
  max-width: 360px;
}

.about-duel-lingo p {
  font-size: 120%;
}

.duel-status-form {
  display: flex;
  flex-direction: column;
}

.duel-home-status-input {
  width: 140px;
  margin: auto;
  margin-top: 8px;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.usernameInput {
  width: 50%;
  text-align: center;
}

input[type='text'].duo-mock-input {
  border: 1px solid;
  border-radius: 8px;
  height: 130px;
  width: 260px;
  margin: 30px auto;
  display: block;
  font-size: 22px;
  text-align: center;
  box-shadow: 3px 3px 3px #B9B9B9;
  border-color: #B9B9B9;
  line-height: 100px;
}

input[type='text'].duel-email-input {
  border: none;
}

.duel-button, .duel-button_disabled, .duel-status-btn {
  background-color: #20A6e7;
  border-radius: 33px;
  color: white;
  padding: 12px 20px;
  margin: 10px;
  text-align: center;
  font-size: 18px;
  height: 30px;
  min-width: 132px;
  text-decoration: none;
  line-height: 30px;
  border: none;
}

.duel-status-btn {
  height: 26px;
  line-height: 26px;
  width: 115px;
  margin: auto;
  margin-top: 8px;
  padding: 0px;
  font-size: inherit;
}

button.duel-button {
  line-height: inherit;
  height: 40px;
}

.duel-button:hover, .duel-status-btn:hover {
  background-color: #3EBBF7;
  cursor: pointer;
}

.duel-button_disabled {
  background-color: #bcbcbc;
  pointer-events: none;
}

.leaderboard {
  max-width: 70%;
  padding: 30px;
  border: 2px solid #dadada;
  border-radius: 10px;
  background: #e9e9e9;
}

.duels {
  width: 50%;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.dates {
  width: 100%;
  margin: 10px;
}

.buttons {
  width: 100%;
  margin-top: 50px;
}

.btn-goToDuel {
  font-size: 9pt;
  padding: 4px 8px;
}

.username-link {
  font-size: 13pt;
}
