extends ../layout

block body
  .content
      h1
        img(src="images/duel-logo.svg").duel-logo
        span Duel-Lingo
      .about-duel-lingo
        p Duel-lingo pits Duolingo users against each other in a battle to the DEATH! 
        p Just kidding. It's just a $5 bet, to see who can earn more XP points on their Duolingo account in a month.
        p Use it to encourage yourself and a friend to practice and learn another language!
      .inputArea
        a(href="/duel/new").duel-button Let's DUEL! :)
        form(action="/user/view" method="GET").duel-status-form
          input(type="text" name="username").duel-home-status-input
          button.duel-status-btn Check Status
